.thumbnail {
    min-height: 210px;
}
.pad-left {
    margin-left: 10px;
}
.well div {
    color: white;
}
.myimg {
    border-radius: 50%;
    height: 60px;
    width: 90px;
    display: block;
}

.green {
    color: #6fc56f !important;
}

.darkred {
    color: #ff9d9d !important;
}

.bold {
    font-weight: bold;
}